<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Typing Master</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <header> 
        <h5>Hi, {{request.session.username}}</h5>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/typingmaster" class="pure-menu-link">Home</a>
        <a class="navbar-brand" href="/typingmaster/results" class="pure-menu-link">See my results</a>
        <a class="navbar-brand" href="/typingmaster/halloffame" class="pure-menu-link">Hall of Fame</a>
        <a class="navbar-brand" href="/typingmaster/logout" class="pure-menu-link">Logout</a>
    </nav>
    <main>
        <div id="wrapper">
            <div class="smallContainer">
                <h5>TIME LEFT</h5><div class = "timer" id="timer">60</div>
                <h5>ERRORS</h5><div class = "errorCounter" id="errors_made">0</div>
                <form action="/typingmaster/collect" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea id="content" name="content" cols="100" rows="15" style="resize: none;" readonly>{{text.content}}</textarea>
                    </div>            
                    <div class="form-group">
                        <input id="user_input" type="text" name="user_input" style="width: 400px;">
                    </div>
                    <input type="hidden" name="final_speed" id="finalSpeed" value="">
                    <input type="hidden" name="total_errors" id="totalErrors" value="">
                    <input type="hidden" name="accuracy" id="accuracy" value="">
                    <button type="submit" class="btn btn-primary" name="cancel">Cancel</button>
                </form>
            </div>
        </div>

    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/test.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>